name: YouTube Spy (Hourly)

on:
  schedule:
    - cron: '15 * * * *' # รันทุกต้นชั่วโมง นาทีที่ 15
  workflow_dispatch:

jobs:
  spy-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' 

      - name: Install libraries
        run: pip install -r requirements.txt

      - name: Run Spy Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python spy_youtube.py
